.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    padding: 24px;
    text-align: center;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 2.2rem;
}
.text {
    padding: 12px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.8rem;
}

.link {
    padding: 6px 12px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
}