.title {
    padding: 24px 4px;
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--text-color);
}

.info {
    margin-top: 36px;
}

.info p {
    padding: 6px 4px;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
}

.note {
    margin-top: 36px;
    margin-bottom: 12px;
}

.note p {
    padding: 8px 4px;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--text-color);
}

.btn-delete {
    margin-left: 12px;
}